<!DOCTYPE html>
<html th:lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: header"></head>
<body>
<div th:replace="common/body/navbar :: navbar"></div>
    <h3>[[${coustumer.id ne null ? 'Editar Cliente' : 'Agregar Cliente'}]]</h3>
<div class="row justify-content-center align-items-center minh-100">
    <form action=" " th:object="${coustumer}" method="post">
    <div class="form-group">
        <label for="namecostumer">Nombre(s)</label>
        <input type="text" class="form-control" id="namecostumer" aria-describedby="name" th:field="*{name}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>

    </div >
    <div class="form-group">
        <label >Apellidos</label>
        <input type="text" class="form-control" id="lastnamecostumer" aria-describedby="lastname" th:field="*{last_name}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('last_name')}"  th:errors="*{last_name}" class="invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label>Carne de Identidad</label>
        <input type="number" class="form-control" id="idcostumer" aria-describedby="idcostumer" th:field="*{identification}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('identification')}" th:errors="*{identification}" class="invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label>Dirección</label>
        <input type="text" class="form-control" id="address" aria-describedby="addres" th:field="*{address}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="invalid-feedback"></div>
    </div>
<!--       <div >-->
<!--           <div class="form-group">-->
<!--               <label for="saldo">Saldo </label>-->
<!--               <input type="number" class="form-control" id="saldo">-->
<!--               <small id="saldoHelp" class="form-text text-muted">Introdusca el saldo de la cuenta.</small>-->
<!--           </div>-->
<!--       </div>-->

        <button type="submit" class="btn btn-primary">Enviar</button>
        <a href="/" class="btn btn-danger">Cancelar</a>
</form>
</div>
</body>
</html>